script(src='/js/leftbar.js')
link(rel='stylesheet', href='/css/leftbar.css')

div.leftbar
    ul.leftbar-icon
        li: i.fa.fa-bars(onclick='topbar_info_clicked(this)')
        li: i.fa.fa-user
        li: i.fa.fa-list
        li: i.fa.fa-signal
        li: i.fa.fa-clock
    ul.leftbar-detail
        li
        li 个人中心
        li 题目列表
        li 比赛列表
        li 评测状态
