doctype html
html
    head
        meta(charset='UTF-8')
        title SCOJ
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='/css/index.css')
    body
        include includes/topbar.pug