doctype html
html
    head
        meta(charset='UTF-8')
        title Scratch Online Judge
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
    body
        div.container
            include includes/leftbar.pug
            div.container-center
                include includes/topbar.pug
                div.container-main
                    p Hello, world!
                include includes/footer.pug