doctype html
html
    head
        meta(charset='UTF-8')
        title Scratch Online Judge
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
    body
        div.container
            include includes/leftbar.pug
            div.container-center
                include includes/topbar.pug
                p LOGIN
                form(action='/api/login', method='post')
                    input(type='text', name='username')
                    input(type='text', name='password')
                    input()
                