extends layout/template-row.pug

block css
    link(rel='stylesheet', href='/css/login.css')

block js
    script(src='/js/login.js')

block content
    div.login-frame.color-card
        p.login-title H<sub>2</sub> OJ
        div.login-tab
            span.login-tab-select(word-id='login.login', onclick='select(this)') Login
            span(word-id='login.signup', onclick='select(this)') Sign Up
        div.login-login#login-login
            form(action='/api/login', method='post')
                p(word-id='login.login.name') Name
                input(type='text', required='required', placeholder='Username/Email', name='username')
                p(word-id='login.login.password') Password
                input(type='password', required='required', placeholder='Password', name='password')
                br
                input(type='submit', value='Login')
        div.login-signup#login-signup(hidden='true')
            form(action='/api/signup', method='post')
                p(word-id='login.signup.name') Name
                input(type='text', required='required', placeholder='Username, 2-20 letters', name='username')
                p(word-id='login.signup.email') Email
                input(type='text', required='required', placeholder='Your email address', name='email')
                p(word-id='login.signup.password') Password
                input(type='password', required='required', placeholder='Password, at least 6 letters', name='password')
                br
                input(type='password', required='required', placeholder='Retype your password', name='password-retype')
                br
                input(type='submit', value='Sign Up')

                

                