doctype html
html
    head
        meta(charset='UTF-8')
        title Scratch Online Judge
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='/css/problemset.css')
    body
        div.container#container
            include includes/leftbar.pug
            div.container-center#container-center
                include includes/topbar.pug
                div.container-main.problemset-main#container-main
                    div.problemset-search
                        p XXXXX
                    div.problemset-list
                        table.problemset-table
                            thead
                                tr
                                    th 状态
                                    th 题号
                                    th 题目名称
                                    th 标签
                                    th 难度
                                    th 通过率
                            tbody
                                - let 
                include includes/footer.pug