script(src='/js/leftbar.js')
link(rel='stylesheet', href='/css/leftbar.css')

div.leftbar
    ul.leftbar-icon
        li: i.fa.fa-bars(onclick='topbar_info_clicked(this)')
        li(onclick='window.location=\'/user\''): i.fa.fa-user
        li(onclick='window.location=\'/problem\''): i.fa.fa-list
        li(onclick='window.location=\'/contest\''): i.fa.fa-signal
        li(onclick='window.location=\'/record\''): i.fa.fa-clock
    ul.leftbar-detail
        li(onclick='window.location=\'/user\'') 个人中心
        li(onclick='window.location=\'/problem\'') 题目列表
        li(onclick='window.location=\'/contest\'') 比赛列表
        li(onclick='window.location=\'/record\'') 评测记录
