link(rel='stylesheet', href='/css/topbar.css')

div.topbar
    div.topbar-left: p.topbar-title H<sub>2</sub> OJ
    div.topbar-left
        ul.topbar-menubar
            li(onclick='window.location=\'/\'') 首页
            li(onclick='window.location=\'/problem\'') 题库
            li(onclick='window.location=\'/contest\'') 比赛
            li(onclick='window.location=\'/submission\'') 记录

    div.topbar-right
        ul.topbar-menubar
            if nowUser
                li(onclick='window.location=\'/user\'')= nowUser.username
                li(onclick='window.location=\'/api/v1/logout\'') 退出
            else
                li(onclick='window.location=\'/login\'') 登录
    div.topbar-user
        div.topbar-avatar
            
