input[type='text'], input[type='password'] {
    width: 350px;
    margin: 3px 0px;
    padding: 3px 5px;
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    line-height: 25px;
    font-size: 15px;
}

input[type='submit'] {
    width: 100%;
    margin-top: 10px;
    padding: 3px 5px;
    border-width: 0px;
    border-radius: 3px;
    background-color: #7c8cfc;
    color: #ffffff;
    line-height: 25px;
    font-size: 15px;
}

.login-frame {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.login-tab {
    display: flex;
    padding: 3px;
    background-color: #ffffff;
}

.login-tab > span {
    flex: 1;
    padding: 3px;
    text-align: center;
}

.login-tab-select {
    background-color: #7c8cfc;
    color: #ffffff;
}

.login-signup > form > p, .login-login > form > p {
    color: #000000;
    margin: 10px 0px 0px 0px;
}

.login-title {
    color: #7c8cfc;
    font-size: 300%;
    font-weight: 100;
    text-align: center;
    margin: 35px;
}

