.problem-main {
    flex-direction: column;
}

.problem-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
    background-color: rgba(192, 224, 232, 0.769);
    /* background-color: #c0e0e8; */
    box-shadow: 0 0 5px #7f7f7f;
}

