.problem-main {
}

.problem-head, .problem-info {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.problem-upload {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.problem-info > div {
    width: auto;
}

.problem-title {
    font-size: 25px;
    font-weight: bold;
}

.problem-info-title {
    font-weight: 600;
}

.problem-ide {
    margin: 15px 0px;
    height: 400px;
}
