.problem-difficulty-0 {
    background-color: #bfbfbf;
}

.problem-difficulty-1 {
    background-color: #fe4c61;;
}

.problem-difficulty-2 {
    background-color: #f39c11;
}

.problem-difficulty-3 {
    background-color: #ffc116;
}

.problem-difficulty-4 {
    background-color: #52c41a;
}

.problem-difficulty-5 {
    background-color: #3498db;
}

.problem-difficulty-6 {
    background-color: #9d3dcf;
}

.problem-difficulty-7 {
    background-color: #0e1d69;
}


