.problem-main {
}

.problem-head {
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.problem-info {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.problem-info > div {
    width: auto;
}

.problem-title {
    font-size: 25px;
    font-weight: bold;
}

.problem-info-title {
    font-weight: 600;
}
