doctype html
html
    head
        meta(charset='UTF-8')
        title Hydrogen OJ
        link(rel='shortcut icon', href='/img/logo.jpg', type='image/x-icon')
        link(rel='stylesheet', href='/css/global.css')
        block css
    body
        div.container#container
            include ../include/topbar.pug
            div.container-main#container-main
                block content
            include ../include/footer.pug
        block js
        block script